:root {
  --primary-text-color: rgba(47, 53, 61, 1);
  --border-color: rgba(203, 203, 203, 1);
  --basic-font-size: 1.1rem;
  --basic-font-weight: 300;
}

body,
hr,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Rubik", sans-serif;
  background-color: rgba(244, 245, 247, 1);
}

.nav {
  display: none;
}

.nav-header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 4rem;
  background-color: #ffffff;
  z-index: 1000;
}

.nav-list {
  list-style: none;
  display: flex;
}

.link {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  padding-right: 2rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
  text-decoration: none;
  color: #17191c;
}

.nav-btn {
  padding: 0.45rem 1rem;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
  color: #ffffff;
  background-color: #1874ff;
  border: none;
  border-radius: 0.5rem;
}

.title-block {
  width: 100%;
  height: 11.5rem;
  background-color: rgba(116, 182, 255, 0.15);
  margin-bottom: 3rem;
  margin-top: 9rem;
}

.title {
  display: none;
}

.header-title {
  text-align: center;
  padding-bottom: 4rem;
  font-size: 3rem;
  font-weight: 700;
  color: rgba(23, 25, 28, 1);
}

.main-img {
  width: 100%;
  height: 100%;
}

.main-text {
  margin-top: 1.5rem;
  font-weight: 300;
  font-size: var(--basic-font-size);
  line-height: 1.8rem;
  color: var(--primary-text-color);
}

.main-text p {
  margin-bottom: 2rem;
}

.highlight {
  font-weight: 500;
}

.main-title {
  margin-top: 3rem;
  margin-bottom: 1.5rem;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 2rem;
  color: rgba(23, 25, 28, 1);
}

.speciality-list {
  margin-bottom: 4rem;
  font-weight: 400;
  font-size: var(--basic-font-size);
  line-height: 2.18rem;
  color: var(--primary-text-color);
}

.salary-table {
  border-collapse: collapse;
  margin-bottom: 2.9rem;
}

.table-title {
  padding: 0.8rem 1.4rem;
  font-size: var(--basic-font-size);
  font-weight: 400;
  line-height: 1.8rem;
  color: var(--primary-text-color);
  border-bottom: 1px solid var(--border-color);
}

.table-text {
  padding-right: 0.9rem;
  font-size: var(--basic-font-size);
  font-weight: var(--basic-font-weight);
  line-height: 1.8rem;
  color: var(--primary-text-color);
}

.table-text.border {
  border-right: 0.1rem solid var(--border-color);
}

.table-text.major {
  padding-left: 1.2rem;
  padding-top: 1rem;
  text-align: left;
}

.table-text.price {
  padding-top: 1rem;
  padding-left: 0.5rem;
  text-align: center;
}

.reactions-on-page {
  text-align: center;
  margin-bottom: 4rem;
}

.emojis {
  margin: 0 0.2rem;
  cursor: pointer;
}

.card {
  display: none;
}

.learn-block {
  width: 100%;
  height: 34.7rem;
  background-color: rgba(116, 182, 255, 0.15);
}

.learn-title {
  text-align: center;
  font-weight: 500;
  font-size: 2rem;
  line-height: 2.5rem;
  color: #17191c;
}

.learn-container {
  display: flex;
  justify-content: center;
}

.learn-card {
  width: 20.5rem;
  height: 17.75rem;
  background-color: #ffffff;
  border-radius: 1rem;
  margin: 0.7rem;
  cursor: pointer;
  box-shadow: 0 0.25rem 0.31rem rgba(0, 0, 0, 0.1);
}

.learn-more {
  text-decoration: none;
  color: var(--primary-text-color);
}

.learn-text {
  text-align: left;
  padding-left: 1.2rem;
  padding-top: 17px;
  font-size: var(--basic-font-size);
  font-weight: 500;
  line-height: 1.6rem;
}

.sub-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4rem 0;
}

.subFormText {
  display: none;
}

.sub-form-text {
  padding-right: 3.5rem;
  font-size: var(--basic-font-size);
  font-weight: var(--basic-font-weight);
  line-height: 1.6rem;
  color: var(--primary-text-color);
}

.email-inp {
  width: 14.5rem;
  height: 2.5rem;
  border: none;
  border-radius: 0.5rem;
  color: var(--primary-text-color);
  font-size: var(--basic-font-size);
  box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
}

.email-inp:focus {
  box-shadow: 0.1rem 0.4rem 0.4rem rgba(0, 0, 0, 0.1);
  outline: none;
}

.email-inp::placeholder {
  padding-left: 1rem;
  font-weight: var(--basic-font-weight);
  font-size: var(--basic-font-size);
  line-height: 1.8rem;
  color: #b4b5b8;
}

.send-btn {
  margin-left: 0.5rem;
  padding: 0.53rem 1rem;
  border-radius: 0.5rem;
  border: none;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 400;
  background-color: #1874ff;
  color: #ffffff;
}

.footer {
  background-color: #202328;
  height: 23rem;
}

.footer-container {
  display: grid;
  grid-template-areas:
    "nav messengers social"
    "nav messengers register"
    "footer-bottom footer-bottom footer-bottom";
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  max-width: 64rem;
  margin: 0 auto;
}

.nav-container {
  grid-area: nav;
  grid-row: span 2;
}

.footer-link {
  margin-right: 2rem;
  text-decoration: none;
  font-size: 1rem;
  color: #ffffff;
}

.messengers {
  grid-area: messengers;
  grid-row: span 2;
}

.messengers-icons {
  justify-self: center;
  gap: 1.06rem;
  align-items: center;
}

.vertical-line {
  height: 1.8rem;
  border: none;
  width: 0.06rem;
  background-color: #ffffff;
}

.phone-num {
  font-size: 1.1rem;
  font-weight: 500;
  color: #ffffff;
}

.email-contc {
  font-size: var(--basic-font-size);
  font-weight: 500;
  color: #ffffff;
}

.address-inf {
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.5rem;
  color: #ffffff;
}

.social {
  grid-area: social;
  justify-self: center;
  display: flex;
  gap: 1rem;
}

.register {
  grid-area: register;
  justify-self: flex-end;
}

.registerInf {
  display: none;
  font-weight: 400;
  line-height: 1.3rem;
  font-size: 0.87rem;
  color: #ffffff;
}

.privacy-policy,
.user-agreement {
  line-height: 1.37rem;
  font-size: 0.87rem;
  color: #ffffff;
}

.footer-bottom {
  grid-area: footer-bottom;
}

.footer-line {
  border: none;
  background-color: #ffffff;
  height: 0.01rem;
  margin-bottom: 1rem;
}

.footer-copy {
  font-size: 0.87rem;
  color: #ffffff;
}

.footerText {
  display: none;
  font-size: 0.87rem;
  color: #ffffff;
}

@media (min-width: 64rem) {
  .desktop-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 64rem;
    margin: 0 auto;
  }

  .logo {
    padding: 0.75rem 0;
  }

  .desktop-title {
    display: block;
  }

  .main-container {
    width: 100%;
    margin: 0 auto;
  }

  .inner-container {
    padding-left: 9.9rem;
    padding-right: 9.9rem;
  }

  .main-container {
    max-width: 64rem;
  }

  .header-title {
    padding-top: 4rem;
  }

  .desktop-card {
    display: block;
  }

  .learn-title {
    padding-top: 4rem;
    margin-bottom: 4rem;
  }

  .desktop-sub-form-text {
    display: block;
  }

  .footer-container {
    padding-top: 4.37rem;
  }

  .footer-nav {
    margin-top: 1.1rem;
  }

  .messengers-icons {
    display: flex;
  }

  .email-contc {
    margin-top: 1rem;
  }

  .address-inf {
    margin-top: 2.1rem;
  }

  .social {
    padding-left: 0.95rem;
  }

  .desk-register-inf{
    padding-top: 20px;
    display: block;
  }

  .privacy-policy,
  .user-agreement {
    padding-top: 0.6rem;
  }

  .footer-bottom {
    margin-top: 5.5rem;
  }

  .footer-copy {
    display: inline;
  }

  .desk-footer-text {
    padding-left: 28.7rem;
    display: inline;
  }
}

@media (min-width: 25.9rem) and (max-width: 48rem) {
  .tablet-menu {
    width: 100%;
    height: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .logo {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    padding-left: 1.5rem;
  }

  .burger {
    padding-top: 1.06rem;
    padding-bottom: 1.06rem;
    padding-right: 1.5rem;
    padding-left: 3rem;
  }

  .nav-btn {
    margin-left: auto;
  }

  .title-block {
    width: 100%;
    height: 7.5rem;
  }

  .desktop-title {
    display: block;
  }

  .header-title {
    padding-top: 2.5rem;
    padding-bottom: 2.3rem;
    font-weight: 500;
    font-size: 2rem;
    line-height: 2.5rem;
  }

  .main-container {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  .main-text {
    font-size: var(--basic-font-size);
  }

  .learn-block {
    width: 100%;
    height: 34.1rem;
  }

  .learn-title {
    padding-top: 3.3rem;
    font-size: 1.5rem;
    font-weight: 500;
  }

  .tablet-card {
    display: block;
  }

  .carusel {
    display: flex;
    padding-top: 0.93rem;
    justify-content: center;
  }

  .desktop-sub-form-text {
    display: block;
  }

  .footer {
    height: 27rem;
  }

  .footer-container{
    width: 100%;
    max-width: 44rem;
    padding-left: 1.25rem;
    padding-top: 3rem;
    margin: 0 auto;
    padding-right: 1.5rem;
    grid-template-areas: 
    "nav messengers"
    "social register"
    "footer-bottom footer-bottom";
    grid-template-columns: repeat(2, 1fr);
  }

  .nav-container{
    grid-area: nav;
    justify-self: left;
  }

  .footer-nav {
    padding-top: 1rem;
  }

  .messengers{
    grid-area: messengers;
    justify-self: left;
  }

  .messengers-icons {
    display: flex;
  }

  .email-contc{
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .social{
    padding-top: 1rem;
    grid-area: social;
    justify-self: left;
  }

  .register{
    padding-top: 3.68rem;
    grid-area: register;
    justify-self: left;
  }

  .tablet-register-inf{
    padding-bottom: .5rem;
    display: block;
  }

  .privacy-policy{
    padding-bottom: .5rem;
  }

  .user-agreement{
    padding-bottom: 2rem;
  }

  .footer-bottom{
    grid-area: footer-bottom;
    width: 100%;
  }

  .footer-copy {
    display: inline;
    font-size: .75rem;
  }

  .desk-footer-text{
    margin-left: 13.5rem;
    display: inline;
    font-size: .75rem;
  }
}

@media (max-width: 25.9rem) {
  .phone-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .logo {
    padding: 0.75rem 1rem;
  }

  .burger {
    padding-top: 1rem;
    padding-bottom: 1.1rem;
    padding-right: 0.87rem;
  }

  .title-block {
    width: 100%;
    height: 10rem;
  }

  .phone-title {
    display: block;
  }

  .header-title {
    padding-top: 2.43rem;
    padding-bottom: 2.56rem;
    font-weight: 500;
    font-size: 2rem;
    line-height: 2.5rem;
  }

  .main-container {
    padding: 0 1rem;
  }

  .main-img {
    border-radius: 1rem;
  }

  .inner-container {
    padding: 0.1rem 0;
  }

  .main-text {
    font-size: 1rem;
    line-height: 1.5rem;
  }

  .main-title {
    font-size: 1.5rem;
    line-height: 2rem;
  }

  .table-title {
    font-size: var(--basic-font-size);
    line-height: 1.8rem;
  }

  .table-text {
    font-size: var(--basic-font-size);
  }

  .learn-block {
    height: 31.1rem;
  }

  .learn-title {
    font-size: 1.5rem;
    margin-bottom: 2.18rem;
    padding-top: 4rem;
  }

  .phone-card {
    display: block;
  }

  .learn-card {
    width: 18rem;
    height: 15.8rem;
  }

  .card-img {
    width: 18rem;
    height: 10.5rem;
  }

  .carusel {
    display: flex;
    padding-top: 0.93rem;
    justify-content: center;
  }

  .send-btn {
    margin-top: 1rem;
    margin-left: 0rem;
  }

  .sub-form-container {
    display: block;
    padding: 4rem 1rem;
    margin: 0 auto;
  }

  .phone-sub-form-text {
    display: block;
  }

  .sub-form-text {
    margin-bottom: 1.5rem;
    padding-right: 0;
    font-size: 1.12 rem;
    line-height: 1.62rem;
  }

  .footer {
    width: 100%;
    height: 45.5rem;
  }

  .footer-container {
    grid-template-areas:
      "nav"
      "messengers"
      "phone-cont"
      "social"
      "register"
      "footer-bottom";
    grid-template-columns: 1fr;
  }

  .nav-container {
    padding-top: 4rem;
    padding-left: 1rem;
    grid-area: nav;
    justify-self: left;
  }

  .footer-nav {
    padding-top: 1rem;
  }

  .messengers {
    padding-top: 3rem;
    padding-left: 1rem;
    grid-area: messengers;
    justify-self: left;
    display: grid;
  }

  .messengers-icons {
    justify-self: left;
  }

  .messenger-icon {
    padding-right: 0.87rem;
    padding-bottom: 1rem;
  }

  .phone-num {
    padding-bottom: 1rem;
  }

  .email-contc {
    padding-bottom: 1rem;
  }

  .desk-register-inf {
    display: block;
    padding-bottom: 1rem;
    font-size: .75rem;
    padding-bottom: .87rem;
  }

  .vertical-line {
    display: none;
  }

  .social {
    padding-top: 1rem;
    padding-bottom: 3rem;
    padding-left: 1rem;
    grid-area: social;
    justify-self: left;
  }

  .register {
    padding-bottom: 1.5rem;
    padding-left: 1rem;
    grid-area: register;
    justify-self: left;
  }

  .privacy-policy {
    font-size: 0.75rem;
    padding-bottom: 0.25rem;
  }
  .user-agreement {
    font-size: 0.75rem;
  }

  .footer-bottom {
    grid-area: footer-bottom;
  }

  .footer-line {
    width: 100%;
  }

  .footer-copy {
    padding-bottom: 0.5rem;
    text-align: center;
  }

  .phone-footer-text {
    display: block;
    text-align: center;
  }
}
