:root {
  --primary-text-color: rgba(47, 53, 61, 1);
  --border-color: rgba(203, 203, 203, 1);
  --basic-font-size: 1.1rem;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Rubik", sans-serif;
  background-color: rgba(244, 245, 247, 1);
}

/*header*/
.title-block {
  width: 100%;
  height: 11.5rem;
  background-color: rgba(116, 182, 255, 0.15);
  margin-bottom: 3rem;
  margin-top: 6rem;
}

.title-header {
  text-align: center;
  padding-top: 4rem;
  padding-bottom: 4rem;
  font-size: 3rem;
  font-weight: 700;
  color: rgba(23, 25, 28, 1);
}

/*main*/
.main-container {
  width: 80%;
  max-width: 64rem;
  margin: 0 auto;
}

.main-img {
  width: 100%;
  height: 100%;
}

.inner-container {
  padding-left: 9.9rem;
  padding-right: 9.9rem;
}

/*main text*/
.main-text {
  margin-bottom: 4rem;
  font-weight: 300;
  font-size: 1.1rem;
  line-height: 1.8rem;
  color: var(--primary-text-color);
}

/*strong words*/
.highlight {
  font-weight: 500;
}

.main-title {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 2rem;
  color: rgba(23, 25, 28, 1);
}

/*ul list*/
.list {
  margin-bottom: 4rem;
  font-weight: 400;
  font-size: var(--basic-font-size);
  line-height: 2.18rem;
  color: var(--primary-text-color);
}

/*salary table*/
.salary-table {
  border-collapse: collapse;
  margin-bottom: 2.9rem;
}

/*title*/
.table-title {
  padding: 0.8rem 1.4rem;
  font-size: var(--basic-font-size);
  font-weight: 400;
  line-height: 1.8rem;
  color: var(--primary-text-color);
  border-bottom: 1px solid var(--border-color);
}

/*main text in table*/
.table-text {
  padding-right: 0.9rem;
  font-size: var(--basic-font-size);
  font-weight: 300;
  line-height: 1.8rem;
  color: var(--primary-text-color);
}

.table-text.border {
  border-right: 0.1rem solid var(--border-color);
}

.table-text.major {
  padding-left: 1.2rem;
  padding-top: 1rem;
  text-align: left;
}

.table-text.price {
  padding-top: 1rem;
  padding-left: 0.5rem;
  text-align: center;
}
